.font-bold-heading-1 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 3.2rem;
  line-height: 3.8rem;
  letter-spacing: -4%;
}
.font-bold-heading-2 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: -4%;
}
.font-bold-heading-3 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 2.1rem;
  line-height: 3.0rem;
  letter-spacing: -4%;
}

.font-bold-subheading-1 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -2%;
}

.font-bold-body-1 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -2%;
}
.font-bold-body-2 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -2%;
}

.font-bold-caption-1 {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: -2%;
}

.font-regular-body-1 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -2%;
}
.font-regular-body-2 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -2%;
}

.font-regular-caption-1 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: -2%;
}

